Туториал как использовать функции из tools

In [213]:
import pandas as pd

In [236]:
df = pd.read_parquet("../data/end_df.parquet")
df.head()

,place,product,Our_company,cost,Арториас&Co,Длань господня,ЛилIT,Светлые Души,hot,rain,...,year,month,day,Арториас&Co_k,Длань господня_k,ЛилIT_k,Светлые Души_k,1/amount,max_price,min_price
0,Анор Лондо,Целебные травы,3.9,2.07,3.78,4.21,4.18,3.75,1.0,0.0,...,2216,1,2,1.031746,0.926366,0.933014,1.04,0.025069,4.21,3.75
1,Анор Лондо,Целебные травы,3.9,2.07,3.78,4.21,4.18,3.75,1.0,0.0,...,2216,1,3,1.031746,0.926366,0.933014,1.04,0.023761,4.21,3.75
2,Анор Лондо,Целебные травы,3.9,2.07,3.78,4.21,4.18,3.75,0.0,0.0,...,2216,1,4,1.031746,0.926366,0.933014,1.04,0.026369,4.21,3.75
3,Анор Лондо,Целебные травы,3.9,2.07,3.78,4.21,4.18,3.75,0.0,0.0,...,2216,1,5,1.031746,0.926366,0.933014,1.04,0.025747,4.21,3.75
4,Анор Лондо,Целебные травы,3.9,2.07,3.78,4.21,4.18,3.75,0.0,0.0,...,2216,1,6,1.031746,0.926366,0.933014,1.04,0.021744,4.21,3.75

In [215]:
def compare_prices_1_2(
    df: pd.DataFrame, 
    product_title: str, 
    place_title: str, 
    competitor: str,
):
    df_filtered = df.copy()
    df_filtered = df_filtered.loc[
        (df_filtered['product'] == product_title)
        & (df_filtered['place'] == place_title)
    ]
    
    our_prices = df_filtered['Our_company']
    competitor_prices = df_filtered[competitor]
    result = (our_prices < competitor_prices * 1.2).all()
    return result

Валидация на $price_{our} < price_{competitor} * 1.2$ для всех продуктов, мест и конкурентов

In [216]:


results = []
for product in df['product'].unique():
  for place in df['place'].unique():
    for competitor in ['Арториас&Co', 'Длань господня', 'ЛилIT', 'Светлые Души']:
      res = compare_prices_1_2(df, product, place, competitor)
      results.append([res, product, place, competitor])
      
results

[[False, 'Целебные травы', 'Анор Лондо', 'Арториас&Co'],
 [False, 'Целебные травы', 'Анор Лондо', 'Длань господня'],
 [False, 'Целебные травы', 'Анор Лондо', 'ЛилIT'],
 [False, 'Целебные травы', 'Анор Лондо', 'Светлые Души'],
 [True, 'Целебные травы', 'Врата Балдура', 'Арториас&Co'],
 [True, 'Целебные травы', 'Врата Балдура', 'Длань господня'],
 [True, 'Целебные травы', 'Врата Балдура', 'ЛилIT'],
 [True, 'Целебные травы', 'Врата Балдура', 'Светлые Души'],
 [False, 'Целебные травы', 'Кеджистан', 'Арториас&Co'],
 [False, 'Целебные травы', 'Кеджистан', 'Длань господня'],
 [False, 'Целебные травы', 'Кеджистан', 'ЛилIT'],
 [False, 'Целебные травы', 'Кеджистан', 'Светлые Души'],
 [False, 'Целебные травы', 'Нокрон', 'Арториас&Co'],
 [False, 'Целебные травы', 'Нокрон', 'Длань господня'],
 [False, 'Целебные травы', 'Нокрон', 'ЛилIT'],
 [True, 'Целебные травы', 'Нокрон', 'Светлые Души'],
 [True, 'Целебные травы', 'Фалькония', 'Арториас&Co'],
 [True, 'Целебные травы', 'Фалькония', 'Длань господня'],
 [True, 'Целебные травы', 'Фалькония', 'ЛилIT'],
 [True, 'Целебные травы', 'Фалькония', 'Светлые Души'],
 [False, 'Эльфийская пыльца', 'Анор Лондо', 'Арториас&Co'],
 [False, 'Эльфийская пыльца', 'Анор Лондо', 'Длань господня'],
 [True, 'Эльфийская пыльца', 'Анор Лондо', 'ЛилIT'],
 [True, 'Эльфийская пыльца', 'Анор Лондо', 'Светлые Души'],
 [True, 'Эльфийская пыльца', 'Врата Балдура', 'Арториас&Co'],
 [False, 'Эльфийская пыльца', 'Врата Балдура', 'Длань господня'],
 [True, 'Эльфийская пыльца', 'Врата Балдура', 'ЛилIT'],
 [True, 'Эльфийская пыльца', 'Врата Балдура', 'Светлые Души'],
 [True, 'Эльфийская пыльца', 'Кеджистан', 'Арториас&Co'],
 [True, 'Эльфийская пыльца', 'Кеджистан', 'Длань господня'],
 [True, 'Эльфийская пыльца', 'Кеджистан', 'ЛилIT'],
 [True, 'Эльфийская пыльца', 'Кеджистан', 'Светлые Души'],
 [True, 'Эльфийская пыльца', 'Нокрон', 'Арториас&Co'],
 [False, 'Эльфийская пыльца', 'Нокрон', 'Длань господня'],
 [False, 'Эльфийская пыльца', 'Нокрон', 'ЛилIT'],
 [True, 'Эльфийская пыльца', 'Нокрон', 'Светлые Души'],
 [False, 'Эльфийская пыльца', 'Фалькония', 'Арториас&Co'],
 [True, 'Эльфийская пыльца', 'Фалькония', 'Длань господня'],
 [True, 'Эльфийская пыльца', 'Фалькония', 'ЛилIT'],
 [True, 'Эльфийская пыльца', 'Фалькония', 'Светлые Души'],
 [False, 'Эстус', 'Анор Лондо', 'Арториас&Co'],
 [False, 'Эстус', 'Анор Лондо', 'Длань господня'],
 [False, 'Эстус', 'Анор Лондо', 'ЛилIT'],
 [True, 'Эстус', 'Анор Лондо', 'Светлые Души'],
 [True, 'Эстус', 'Врата Балдура', 'Арториас&Co'],
 [True, 'Эстус', 'Врата Балдура', 'Длань господня'],
 [True, 'Эстус', 'Врата Балдура', 'ЛилIT'],
 [True, 'Эстус', 'Врата Балдура', 'Светлые Души'],
 [False, 'Эстус', 'Кеджистан', 'Арториас&Co'],
 [False, 'Эстус', 'Кеджистан', 'Длань господня'],
 [False, 'Эстус', 'Кеджистан', 'ЛилIT'],
 [False, 'Эстус', 'Кеджистан', 'Светлые Души'],
 [True, 'Эстус', 'Нокрон', 'Арториас&Co'],
 [False, 'Эстус', 'Нокрон', 'Длань господня'],
 [True, 'Эстус', 'Нокрон', 'ЛилIT'],
 [True, 'Эстус', 'Нокрон', 'Светлые Души'],
 [False, 'Эстус', 'Фалькония', 'Арториас&Co'],
 [False, 'Эстус', 'Фалькония', 'Длань господня'],
 [True, 'Эстус', 'Фалькония', 'ЛилIT'],
 [True, 'Эстус', 'Фалькония', 'Светлые Души']]

In [252]:
def compare_prices_1(
    df: pd.DataFrame, 
    product_title: str, 
    place_title: str
):
    df_filtered = df.loc[
        (df['product'] == product_title)
        & (df['place'] == place_title)
    ].copy()
    df_filtered['date'] = pd.to_datetime(df_filtered[['year', 'month', 'day']])
    df_filtered.sort_values('date')
    
    _prices = df_filtered['Our_company']
    prev = None
    flag = True
    
    for _price in _prices:
        if prev is not None and _price - prev > 1:
            flag = False
                
        prev = _price
            
    return flag

In [253]:
compare_prices_1(df, 'Целебные травы', 'Врата Балдура')

True

In [254]:
results = []
for product in df['product'].unique():
  for place in df['place'].unique():
    res = compare_prices_1(df, product, place)
    results.append([res, product, place])

results

[[True, 'Целебные травы', 'Анор Лондо'],
 [True, 'Целебные травы', 'Врата Балдура'],
 [True, 'Целебные травы', 'Кеджистан'],
 [True, 'Целебные травы', 'Нокрон'],
 [True, 'Целебные травы', 'Фалькония'],
 [True, 'Эльфийская пыльца', 'Анор Лондо'],
 [True, 'Эльфийская пыльца', 'Врата Балдура'],
 [True, 'Эльфийская пыльца', 'Кеджистан'],
 [True, 'Эльфийская пыльца', 'Нокрон'],
 [True, 'Эльфийская пыльца', 'Фалькония'],
 [True, 'Эстус', 'Анор Лондо'],
 [True, 'Эстус', 'Врата Балдура'],
 [True, 'Эстус', 'Кеджистан'],
 [True, 'Эстус', 'Нокрон'],
 [True, 'Эстус', 'Фалькония']]